/* GREEN */
body.green {
  background-color: rgb(16, 216, 160);
}

/*body.green #q1,
body.green #q2 {
  background-color: #e7e7e7;
}*/

.green .panel-heading {
  background-color: rgb(19, 170, 123);
}

.green .panel-body {
  background-color: rgb(134, 219, 192);
}

.color-btn button.green {
  background-color: rgb(16, 216, 160);
}

#mc-green {
  background-color: rgb(16, 216, 160);
}

/* LIGHT BLUE */
body.lightblue {
  background-color: rgb(137, 206, 224);
}

.lightblue .panel-heading {
  background-color: rgb(100, 189, 232);
}

.lightblue .panel-body{
  background-color: rgb(170, 216, 229);
}

.color-btn button.lightblue {
  background-color: rgb(100, 189, 232);
}

#mc-lightblue {
  background-color: rgb(137, 206, 224);
}

/* DARK BLUE */
body.darkblue {
  background-color: rgb(41, 78, 150);
}

.darkblue .panel-heading {
  background-color: rgb(20, 61, 150);
}

.darkblue .panel-body {
  background-color: rgb(62, 92, 150);
}

.color-btn button.darkblue {
  background-color: rgb(41, 78, 150);
}

#mc-darkblue {
  background-color: rgb(41, 78, 150);
}

/* PURPLE */
body.purple {
  background-color: rgb(130, 91, 193);
}

.purple .panel-heading {
  background-color: rgb(112, 64, 188);
}

.purple .panel-body{
  background-color: rgb(194, 172, 229);
}

.color-btn button.purple {
  background-color: rgb(130, 91, 193);
}

#mc-purple {
  background-color: rgb(130, 91, 193);
}

/* PINK */
body.pink {
  background-color: rgb(240, 124, 159);
}

.pink .panel-heading {
  background-color: rgb(225, 73, 109);
}

.pink .panel-body {
  background-color: rgb(237, 174, 195);
}

.color-btn button.pink {
  background-color: rgb(240, 124, 159);
}

#mc-pink {
  background-color: rgb(240, 124, 159);
}

/* RED */
body.red {
  background-color: rgb(203, 29, 63);
}

.red .panel-heading {
  background-color: rgb(158, 16, 50);
}

.red .panel-body {
  background-color: rgb(204, 133, 150);
}

.color-btn button.red {
  background-color: rgb(203, 29, 63);
}

#mc-red {
  background-color: rgb(203, 29, 63);
}

/* ORANGE */
body.orange {
  background-color: rgb(247, 113, 67);
}

.orange .panel-heading {
  background-color: rgb(226, 88, 39);
}

.orange .panel-body {
  background-color: rgb(247, 176, 151);
}

.color-btn button.orange {
  background-color: rgb(247, 113, 67);
}

#mc-orange {
  background-color: rgb(247, 113, 67);
}

/* YELLOW */
body.yellow {
  background-color: rgb(249, 220, 95);
}

.yellow .panel-heading {
  background-color: rgb(244, 201, 22);
}

.yellow .panel-body{
  background-color: rgb(244, 228, 162);
}

.color-btn button.yellow {
  background-color: rgb(249, 220, 95);
}

#mc-yellow {
  background-color: rgb(249, 220, 95);
}