body {
  background-color: #e7e7e7;
  height: 100%;
  color: #000;
}

/* container 1200px media query */
@media screen and (max-width: 992px) {
  .container {
    width: 940px;
  }
}

.main a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  border-radius: 0px;
  border: none;
  background: none;
  margin-bottom: 60px;
  padding-top: 10px;
}

.navbar .navbar-brand {
  font-size: 45px;
  font-weight: 700;
  position: relative;
  display: inline;
  color: rgba(0, 0, 255, 0.5);
}

.navbar-brand:after {
  content: "spectrum";
  position: absolute;
  left: 13px;
  top: 13px;
  color: rgba(255, 0, 0, 0.5);
}

.navbar-default .navbar-brand:hover {
  color: rgba(0, 0, 255, 0.5);
}

/* dropdown */
.navbar-default .navbar-collapse{
  border: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>li>a{
  color: rgb(0, 0, 0);
  padding-left: 28px;
  padding-right: 0px;
}

.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: rgb(0, 0, 0);
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.dropdown-menu {
  padding: 10px -40px;
  margin-top: -6px !important;
  margin-right: -40px;
}

.navbar-nav>li>.dropdown-menu {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.85);
  min-width: 100px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
  background-color: rgb(255, 255, 255);
}

/* toggle button */
.navbar-default .navbar-toggle {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

/* footer */
footer {
  color: #666666;
}

footer a {
  color: #666666;
}

footer a:hover {
  color: #333333;
  text-decoration: none;
}

footer {
  bottom: 0px;
  padding: 8px 0px; 
  font-size: 12px;
  background-color: rgba(255, 255, 255); 
  background-color: rgba(255, 255, 255, .15);
  margin-top: 120px;
}

/*-------- INDEX --------*/
.question {
  text-align: center;
  margin-bottom: 30px;
}

#activity-btn-wrap {
  width: 800px;
  margin: 0 auto;
}

.activity-btn {
  font-size: 17px;
  margin: 20px;
}

.color-btn {
  width: 120px;
  height: 120px;
  border-radius: 0px;
  margin: 12px;
}

.carousel-inner {
  text-align: center;
}

.carousel-inner #results {
  text-align: left;
}

.carousel-indicators {
  bottom: -100px;
}

#q1, #q2 {
  height: 420px;
}

/*-------- RESULTS --------*/

header #results-title {
  margin-top: 0;
  margin-bottom: 15px;
}

header #mood-change {
  padding-top: 12px;
  outline: none;
}

.panel{
  border: none;
}

.panel-group .panel {
  border-radius: 0px;
}

.panel-heading {
  border-radius: 0px;
}

.panel-title {
  font-size: 20px;
  font-weight: 700;
}

.panel .panel-heading .panel-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
}

.panel .panel-heading .panel-descrip {
  margin-bottom: 0px;
}

/* mood change popover */ 

.popover {
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.85);
}

.popover-title {
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  padding-top: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 0px;
}

.popover-content {
  width: 280px;
}

.popover-content button {
  width: 30px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 0px;
  opacity: 0.8;
}

.popover-content button:hover {
  opacity: 1;
}

.popover-content button:focus {
  outline: none;
}

#mc-green {
  background-color: rgb(16, 216, 160);
}

#mc-lightblue {
  background-color: rgb(137, 206, 224);
}

#mc-darkblue {
  background-color: rgb(41, 78, 150);
}

#mc-purple {
  background-color: rgb(130, 91, 193);
}

#mc-pink {
  background-color: rgb(240, 124, 159);
}

#mc-red {
  background-color: rgb(203, 29, 63);
}

#mc-orange {
  background-color: rgb(247, 113, 67);
}

#mc-yellow {
  background-color: rgb(249, 220, 95);
}

.restaurant-ratings i {
  padding-right: 2px;
}

.restaurant-ratings {
  padding-right: 20px;
  display: inline-block;
}

.restaurant-price {
  display: inline-block;
}

.restaurant-price i {
  padding-right: 2px;
}

.restaurant-price .off {
  opacity: 0.5;
}
=======
}
>>>>>>> beed1ee71e7c5ae58f2e832a173c6e4d28116117
